body{
    font-family: 'EB Garamond', serif;
    margin: 0;
}
h3{
    font-size: 20px;
}
.head-design{
    background-image: url(images/donation2.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-position: center ;
    background-size: cover;
    position: relative;
}
.text-design{
    text-align: center;
    padding-top: 10%;
    color:white
}
.link-design{
    text-decoration: none;
    background-image: linear-gradient(rgb(52, 52, 146),blue);
    color: azure;
    padding:10px;
    border-radius: 10px;
}
.gap-added{
    margin: 10%;
}
.input{
    border: none;
    text-decoration: underline;
}
.text-plan{
    text-align: center;
    margin: 20%;
}
.div-item{
    display: flex;
    margin: ;
    border-left: 5%;
}
.div-area{
    width: 80%;
    margin: 2%;
    padding: 20px;
    margin-bottom: 10%;
}
#div-1{
    background-color: rgba(136, 79, 189, 0.5);
}
#div-2{
    background-color: rgba(76, 40, 136, 0.795);
}
#div-3{
    background-color: rgba(22, 199, 199, 0.562);
}
.image-size{
    image-resolution: 20%;
}
#cool-button{
    background-color: brown;
    color: white;
}
.update-form{
    background-color: powderblue;
    padding: 15%;
    
}
.added-footer{
    background-color: black;
    text-align: center;
    color: white;
    background-size: cover;
}