body{
    font-family: 'EB Garamond', serif;
    margin: 0;
}
h3{
    font-size: 20px;
}
.head-design{
    background-image: linear-gradient(rgba(255, 255, 255, 0.568), rgba(0, 0, 0, 0.6)), url(images/donation2.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-position: center ;
    background-size: cover;
    position: relative;
    
}
.text-design{
    text-align: center;
    padding-top: 10%;
    color:white
}
.link-design{
    text-decoration: none;
    background-image: linear-gradient(rgb(52, 52, 146),blue);
    color: azure;
    padding:10px;
    border-radius: 10px;
}
.gap-added{
    margin: 10%;
}
.simple-list{
    border: none;
    margin: 5px;
    padding: 20px;
}
.simple-point{
    border: 5px;
    border-color: blue;
    margin: 5px;
    padding: 20px;
}
.input{
    border: none;
    text-decoration: underline;
}
.text-plan{
    text-align: center;
    margin: 10%;
}
.div-item{
    display:flex;
    margin:;
}
.div-area{
    width: 80%;
    margin: 2%;
    padding: 20px;
    margin-bottom: 10%;
}
#div-1{
    background-color: rgba(136, 79, 189, 0.5);
}
#div-2{
    background-color: rgba(63, 99, 39, 0.493);
}
#div-3{
    background-color: rgba(62, 128, 128, 0.493);
}
.image-size{
    
}
.image-content{
    
}
#cool-button{
    background-color: brown;
    color: white;
}
.update-form{
    background-color: powderblue;
    padding: 10%;
    margin: 10%;
    
}
.added-footer{
    background-color: black;
    text-align: center;
    color: white;
    background-size: cover;
}